.monster-image {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    object-fit: cover;
    position: relative;
}

.damage-image {
    position: absolute;
    width: 300px;
    left: 8px;
    z-index: 1;
    bottom: 0;
}

.monster-fight-card {
    height: 450px;
    width: 350px;
    background-color: rgb(236, 235, 224);
}

.monster-image-container {
    position: relative;
}

.monster-display-on-card-hp {
    position: absolute;
    top: 8px;
    left: 14px;
    z-index: 1;
}

.monster-display-on-card-ac {
    position: absolute;
    top: 8px;
    right: 14px;
    z-index: 1;
}

.monster-display-on-card-at {
    position: absolute;
    bottom: 8px;
    left: 14px;
    z-index: 1;
}