.damage-modal {
    border: 1px solid rgba(0, 0, 0, 0.349);
    padding: 1rem 2rem;
    position: fixed;
    z-index: 2;
    left: 45%;
    top: 20%;
    width: 600px;
    height: 280px;
    margin-left: -150px;
    margin-top: -75px;
    overflow: auto;
    background-color: rgb(236, 235, 224);
    z-index: 3;
}

.close-damage-modal {
    position: absolute;
    top: 4%;
    right: 4%;
    z-index: 4;
}